@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.calculatorComponent {
    @include container;
    background-color: $background-color;

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 44px;

        @include tablet {
            row-gap: 24px;
        }
    }

    & h3 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        text-transform: none;
    }

    &__error {
        color: red;
        text-align: center;
    }


    &__top {
        display: flex;
        justify-content: space-between;
        gap: 44px;

        @include desktop{
           flex-direction: column;
           gap: 24px;
        }

        @include mobile {
            row-gap: 32px;
        }
    }

    &__block {
        border: 1px solid $border-color;
        border-radius: 16px;
        padding: 36px 24px;
        box-shadow: 0px 8px 24px 0px $shadow-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 40px;    
        
        & p {
            font-size: 16px;
            line-height: 24px;

            @include tablet {
                font-size: 14px;
            }
        }

        &--left {
            width: 59%;
        }

        &--right {
            width: 39%;
            padding: 30px 40px;
            border: 1px solid $orange-color;
            row-gap: 18px;
            background: linear-gradient(180deg, $white 0%, $orange-color 100%);
            
            & .calculatorSavingBlock__total {
                padding: 0;
            }
        }
        
        @include desktop {
            width: 100%;
            padding: 16px;
            row-gap: 24px;
        }

        @include tablet {
            & h3 {
                font-size: 18px;
                line-height: 24px;
            }

            &--right {
                row-gap: 8px;

                & h3 {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }

    }

    &__titleBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        align-items: center;

        & p {
            font-size: 16px;
        }

        @include tablet {
            & h3 {
                font-size: 24px;
                line-height: 32px;
            }
        }

        @include mobile {
            & h3,
            & p {
                margin-inline: -10px;
                text-align: center;
            }
        }
    }

    &__innerBlock {
        width: 100%;
        padding: 60px 40px;
        border: 1px solid $border-color;
        box-shadow: 0px 8px 24px 0px $shadow-color;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        row-gap: 40px;

        @include desktop {
            padding: 16px;
            row-gap: 24px;
        }

        @include mobile {
            row-gap: 32px;
        }
    }

    &__formBlock {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        @include desktop {
            row-gap: 16px;
        }

        @include tablet {
            align-items: flex-start;
        }

        & p {
            text-align: left;
            font-size: 18px;
        }
    }

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 41px;

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 24px;
        }

        &--bottom {
            gap: 24px;
        }

        & p {
            text-align: left;
            font-size: 18px;

            @include tablet {
                font-size: 14px;
                max-width: 320px;
            }
        }
    }

    &__input {
        width: fit-content;
        max-width: 150px;
        padding: 12px 24px;
        text-align: center;
        color: $black;
        border: 1px solid $orange-color;
        background: $background-color;
        border-radius: 40px;
        font-size: 16px;
        line-height: 24px;

        @include tablet {
            max-width: 171px;
        }

        @include mobile {
            width: 100%;
            max-width: 280px;
        }

        &:disabled {
            border: 1px solid $text-grey;
        }
    }

    &__radioBlock {
        display: flex;
        gap: 40px;

        @include mobile {
            flex-direction: column;
            row-gap: 24px;
        }
    }

    &__button {
        min-width: 256px;
        padding-block: 16px;
    }

    &__bottom {
        @include page-grid;
        column-gap: 3px;

        @include tablet {
            column-gap: 4px;
        }

        @include mobile {
            & .calculatorSavingBlock__total {
                min-height: 228px;
            }
        }
    }
}