@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.calculatorSavingBlock {
    grid-column: span 4;
    width: 100%;
    background-color: $orange-color;
    border-radius: 8px;
    padding: 16px;
    color: $white;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;

    &--left {
        align-items: flex-start;
    }

    &__block {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        column-gap: 12px;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        & p {
            text-align: center;
        }

        &--left {
            flex-direction: row;

            & p {
                text-align: left;
            }
        }
    }

    & p {
        font-size: 16px;
        line-height: 24px;
    }

    &__info {
        display: inline-block;
        text-align: center;
        width: auto;
        min-width: 161px;
        min-height: 48px;
        padding: 12px 24px;
        color: $black;
        background-color: $white;
        border-radius: 40px;
        font-size: 16px;
        line-height: 24px;

        &--left {
            min-width: 129px;
        }
    }
}

.skeleton-wave {
    width: 161px;
    height: 48px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.2) 75%);
    background-size: 200% 100%;
    animation: wave-animation 2s infinite linear;
}

@keyframes wave-animation {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}