$black: #000;
$white: #fff;
$background-color: #FFFBF7;
$orange-color: #F17E00;
$orange-color-transparent: #F17E006B;
$orange2-color: #F28814;
$orange3-color: #F1830A;
$text-grey: #4F4F4F;
$border-color: #DFD6CF;