@import './variables';
@import './mixins';

:root {
    font-family: 'Roboto', sans-serif;
    line-height: 1.33;
    font-weight: 400;

    color: $black;
    background-color: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
}